<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.onap.usecaseui.intentanalysis.mapper.ContextMapper">


    <insert id="insertContextList">
        <if test="contextList != null">
            insert into context(context_id, context_name, context_type, context_condition, parent_id)
            values
            <foreach collection="contextList" index="index" item="item" separator=",">
                (#{item.contextId}, #{item.contextName}, #{item.contextType}, #{item.contextCondition}, #{parentId})
            </foreach>
        </if>
    </insert>

    <select id="selectContextByParentId" resultType="org.onap.usecaseui.intentanalysis.bean.models.Context">
        select context_id contextId, context_name contextName, context_type contextType,
        context_condition contextCondition
        from context
        where parent_id = #{parentId}
    </select>

</mapper>