<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.onap.usecaseui.intentanalysis.mapper.ExpectationObjectMapper">


    <insert id="insertExpectationObject">
        <if test="expectationObject != null">
            insert into expectation_object(object_type, expectation_id)
            values
            (#{expectationObject.objectType}, #{expectationId})
        </if>
    </insert>

    <select id="selectExpectationObject" resultType="org.onap.usecaseui.intentanalysis.bean.models.ExpectationObject">
        select object_type objectType
        from expectation_object
        where expectation_id = #{expectationId}
    </select>

    <select id="selectExpectationObjectId" resultType="java.lang.String">
        select object_id
        from expectation_object
        where expectation_id = #{expectationId}
    </select>

    <update id="updateExpectationObject">
        update expectation_object
        <trim prefix="set" suffixOverrides=",">
            <if test="expectationObject.objectType != null">object_type = #{expectationObject.objectType},</if>
        </trim>
        where expectation_id = #{expectationId}
    </update>

    <delete id="deleteExpectationObject">
        delete from expectation_object
        where expectation_id = #{expectationId}
    </delete>
</mapper>
