<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.onap.usecaseui.intentanalysis.mapper.ExpectationMapper">


    <insert id="insertIntentExpectations">
        insert into expectation(expectation_id, expectation_name, expectation_type, intent_id)
        values
        <foreach collection="intentExpectations" index="index" item="item" separator=",">
            (#{item.expectationId}, #{item.expectationName}, #{item.expectationType}, #{intentId})
        </foreach>
    </insert>

    <insert id="insertIntentExpectation">
        insert into expectation(expectation_id, expectation_name, expectation_type, intent_id)
        values (#{expectation.expectationId}, #{expectation.expectationName}, #{expectation.expectationType}, #{intentId})
    </insert>

    <select id="selectIntentExpectationsByIntentId" resultType="org.onap.usecaseui.intentanalysis.bean.models.Expectation">
        select expectation_id expectationId, expectation_name expectationName,
               target_moi targetMOI, intent_id intentId
        from expectation
        where intent_id = #{intentId}
    </select>

    <update id="updateIntentExpectation">
        update expectation
        <trim prefix="set" suffixOverrides=",">
            <if test="expectationName != null">expectation_name = #{expectationName},</if>
            <if test="targetMOI != null">target_moi = #{targetMOI},</if>
        </trim>
        where expectation_id = #{expectationId}
    </update>

    <delete id="deleteIntentExpectationsByIntentId">
        delete from expectation
        where intent_id = #{intentId}
    </delete>

    <delete id="deleteIntentExpectationById">
        delete
        from expectation
        where expectation_id = #{expectationId}
    </delete>

</mapper>
