<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.onap.usecaseui.intentanalysis.mapper.ExpectationTargetMapper">


    <insert id="insertExpectationTarget">
        insert into expectation_target(target_id, target_name, expectation_id)
        values
            (#{expectationTarget.targetId}, #{expectationTarget.targetName},  #{expectationId})
    </insert>

    <insert id="insertExpectationTargetList">
        insert into expectation_target(target_id, target_name, expectation_id)
        values
        <foreach collection="expectationTargetList" index="index" item="item" separator=",">
            (#{item.targetId}, #{item.targetName}, #{expectationId})
        </foreach>
    </insert>

    <select id="selectExpectationTargetList" resultType="org.onap.usecaseui.intentanalysis.bean.models.ExpectationTarget">
        select target_id targetId, target_name targetName
        from expectation_target
        where expectation_id = #{expectationId}
    </select>

    <select id="selectExpectationTarget" resultType="org.onap.usecaseui.intentanalysis.bean.models.ExpectationTarget">
        select target_id targetId, target_name targetName
        from expectation_target
        where target_id = #{expectationTargetId}
    </select>

    <update id="updateExpectationTarget">
        update expectation_target
        <trim prefix="set" suffixOverrides=",">
            <if test="expectationTarget.targetName != null">target_name = #{expectationTarget.targetName},</if>
        </trim>
        where target_id = #{expectationTargetId}
    </update>

    <delete id="deleteExpectationTarget">
        delete from expectation_target
        where target_id = #{expectationTargetId}
    </delete>

    <delete id="deleteExpectationTargetList">
        delete from expectation_target
        where expectation_id= #{expectationId}
    </delete>

</mapper>
