<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.onap.usecaseui.intentanalysis.mapper.IntentEventRecordMapper">

    <insert id="insertIntentRecord">
        insert into intent_event_record(intent_id, intent_name, intent_status, operate_type, parent_id)
        values(#{intentEventRecord.intentId}, #{intentEventRecord.intentName},
               #{intentEventRecord.intentStatus}, #{intentEventRecord.operateType},
               #{parentId})
    </insert>

    <select id="getIntentEventRecordByIntentId" flushCache="true" resultType="org.onap.usecaseui.intentanalysis.bean.models.IntentEventRecord">
        select id id, intent_id intentId, intent_name intentName, intent_status intentStatus, operate_type operateType
        from intent_event_record where intent_id = #{intentId} and operate_type=#{operateType};
    </select>

    <select id="getIntentEventRecordByPid" flushCache="true" resultType="org.onap.usecaseui.intentanalysis.bean.models.IntentEventRecord">
        select id id, intent_id intentId, intent_name intentName, intent_status intentStatus, operate_type operateType
        from intent_event_record where parent_id = #{parentId} and operate_type=#{operateType};
    </select>
</mapper>
