<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.onap.usecaseui.intentanalysis.mapper.ObjectInstanceMapper">

    <insert id="insertObjectInstanceList">
        insert into object_instance(parent_id, object_instance)
        values
        <foreach collection="objectInstances" index="index" item="item" separator=",">
            (#{parentId}, #{item})
        </foreach>
    </insert>

    <select id="getObjectInstances" resultType="java.lang.String">
        select object_instance from object_instance where parent_id = #{parentId}
    </select>
</mapper>
